<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="AssignTemplates:AssignTemplate" type="JonathanRobbins.AssignTemplates.AssignTemplates, JonathanRobbins.AssignTemplates"/>
    </commands>
  </sitecore>
</configuration>